.container{
  background-image:linear-gradient(to bottom right, #0fabbc,#12cad6,#12cad6);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.calculator-body {
  background-color:#fa163f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding:20px;
  /* border:1px solid grey; */
  border:none;
  border-radius:4px;
  text-align: center;
  min-width:20vw;
}

.display{
  background-color: whitesmoke;
  width:100%;
  height:7rem;
  border:1px solid grey;
  border-radius: 5px;
  margin:15px;
  padding:5px;
}

.roundButton{
  height:5rem;
  width:5rem;
  border-radius: 50%;
  outline:none;
  border:none;
  box-shadow: 2px 3px 12px #282c34;
  background-color: rgba(40, 44, 52,1);
  font:2rem "Times New Roman";
  color:whitesmoke;
  margin:5px;
}
.roundButton:hover{
  background-color: rgba(40, 44, 52,.8);

}
.roundButton:active{
  transform: scale(0.92);
}

.equal{
width:21rem;
/* margin:5px; */
border-radius:4px;
color:red;
}